[GLOBAL]
pants_version = "2.4.0rc2"
backend_packages = [
  "pants.backend.python",
  "pants.backend.python.mixed_interpreter_constraints",
#  "pants.backend.python.lint.bandit",
  "pants.backend.python.lint.black",
#  "pants.backend.python.lint.docformatter",
  "pants.backend.python.lint.flake8",
#  "pants.backend.python.lint.isort",
  "pants.backend.python.lint.pylint",
#  "pants.backend.python.typecheck.mypy",
]
pants_ignore = [
  ".*/",  # . directories
  "/dist/",
  # TODO: remove these, replace with pyproject.toml
  "dist_utils.py",
  #"setup.py",
]

[source]
root_patterns = [
  # core libs
  "/st2*",
  # runners
  "/contrib/runners/*_runner",
  # packs (dirs other than runners, schemas)
  "/contrib/[a-q]*",
  "/st2tests/testpacks/*",
  # lint plugins
  "/pylint_plugins",
  # misc
  "/scripts",
  "/tools",
]

[python-setup]
requirement_constraints = "constraints-pants.txt"
interpreter_constraints = [
  # work around a pants bug. TODO: uncomment this
  #"CPython==3.6.*",
  # we will be targeting 3.8 next (skipping 3.7)
  "CPython==3.8.*",
]

[python-infer]
inits = true

[black]
version = "black==20.8b1"
extra_requirements = ["regex>=2021.3.17"]
# black looks in pyproject.toml by default
#config = pyproject.toml

[flake8]
version = "flake8>=3.7.9,<3.9"
extra_requirements = [
  # license check plugin
  "st2flake8==0.1.0",
]
config = "lint-configs/python/.flake8"

[pylint]
version = "pylint==2.6.0"
extra_requirements = [
  # dep used by /pylint_plugins/{api_models,db_models}
  "astroid==2.4.2",
  # not sure where this is used
  #"pylint-plugin-utils>=0.4",
]
config = "lint-configs/python/.pylintrc"
source_plugins = [
  # the /pylint_plugins directory
  "pylint_plugins",
]
args = [
  # needed in st2* components, runners, packs
  "--load-plugins=api_models",
  # needed in st2* components, runners
  "--load-plugins=db_models",
]

[subprocess-environment]
env_vars.add = [
  # Works around bad `-arch arm64` flag embedded in Xcode 12.x Python interpreters on intel
  # machines. See: https://github.com/giampaolo/psutil/issues/1832
  # On macos do:  export ARCHFLAGS=-arch x86_64 
  # see: https://github.com/pantsbuild/pants/pull/11733
  "ARCHFLAGS",
]