# Add/remove direct 3rdparty dependencies here as needed, with version constraints if necessary.
# Then run scripts/generate_constraints.sh to regenerate the lockfile.

apscheduler
argcomplete
cryptography
eventlet
# flex dep declared in BUILD; it depends on setuptools w/o declaring it
gunicorn
jinja2
jsonpath-rw
jsonschema
kombu
lockfile
mock
mongoengine
networkx
orjson
# gitpython & gitdb are used for pack management
gitdb
gitpython
orquesta @ git+https://github.com/StackStorm/orquesta.git@v1.3.0
# NOTE: Recent version substantially affect the performance and add big import time overhead
# See https://github.com/StackStorm/st2/issues/4160#issuecomment-394386433 for details
oslo.config>=1.12.1,<1.13
paramiko
# pika used by tools/direct_queue_publisher.py
pika
prance
prettytable
# For st2client: prompt-toolkit v2+ does not have prompt_toolkit.token.Token
prompt-toolkit<2
psutil
pymongo
pytest
python-dateutil
python-editor
python-statsd
pytz
PyYAML
requests[security]
retrying
routes
semver
# for pkg_resources
setuptools
simplejson
six
sseclient-py
stevedore
# For backward compatibility reasons, flat file backend is installed by default
st2-auth-backend-flat-file @ git+https://github.com/StackStorm/st2-auth-backend-flat-file.git@master
st2-auth-ldap @ git+https://github.com/StackStorm/st2-auth-ldap.git@master
st2-rbac-backend @ git+https://github.com/StackStorm/st2-rbac-backend.git@master
# tabulate used by tools/log_watcher.py
tabulate
tooz
udatetime
ujson
unittest2
virtualenv
webob
webtest
# Required by tooz - on new versions of tooz, all the backend dependencies need
# to be installed manually
# TODO: add pants dependency for zake:// backend
zake
# zstandard is used for micro benchmarks
zstandard

# winrm runner
#pywinrm

# from st2-auth-backend-flat-file
#passlib

# was in fixed-requirements.txt, but not in constraints-pants.txt? A py2-only test uses this.
#python-keyczar

###########

# not needed with switch to pytest
#nose-timer
#nose-parallel

