# Add/remove direct 3rdparty dependencies here as needed, with version constraints if necessary.
# Then run scripts/generate_constraints.sh to regenerate the lockfile.

apscheduler
cryptography
eventlet
flex
gunicorn
jinja2
jsonpath-rw
jsonschema
kombu
lockfile
mock
mongoengine
networkx
orjson
# gitpython & gitdb are used for pack management
gitdb
gitpython
git+https://github.com/StackStorm/orquesta.git@v1.3.0#egg=orquesta
# NOTE: Recent version substantially affect the performance and add big import time overhead
# See https://github.com/StackStorm/st2/issues/4160#issuecomment-394386433 for details
oslo.config>=1.12.1,<1.13
paramiko
prance
prompt-toolkit
psutil
pymongo
python-dateutil
python-editor
python-statsd
pytz
requests[security]
retrying
routes
semver
six
sseclient-py
stevedore
# For backward compatibility reasons, flat file backend is installed by default
git+https://github.com/StackStorm/st2-auth-backend-flat-file.git@master#egg=st2-auth-backend-flat-file
git+https://github.com/StackStorm/st2-auth-ldap.git@master#egg=st2-auth-ldap
git+https://github.com/StackStorm/st2-rbac-backend.git@master#egg=st2-rbac-backend
tooz
udatetime
ujson
unittest2
virtualenv
webob
# Required by tooz - on new versions of tooz, all the backend dependencies need
# to be installed manually
# TODO: add pants dependency for zake:// backend
zake

# winrm runner
#pywinrm

# from st2-auth-backend-flat-file
#passlib

# was in fixed-requirements.txt, but not in constraints-pants.txt?
#python-keyczar

###########

# dropped when st2debug was dropped. was in fixed-requirements.txt
#python-gnupg

# was a py2-only transitive dep. was in fixed-requirements.txt
#more-itertools

# maybe a py2-only transitive dep? Can't find what dep used to need it.
#zipp

# dropped long ago. Perhaps inadvertently reintroduced?
#prometheus_client

# not needed with switch to pytest
#nose-timer
#nose-parallel

